@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary-1: #fff9ea;
  --color-primary-2: #ffe8b4;
  --color-primary-3: #f8d477;
  --color-primary-4: #ffe100;
  --color-primary-5: #ffcb45;
  --color-primary-6: #e9a209;

  --color-neutral-0: #fff;
  --color-neutral-1: #1d1d1d;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary-1);
}

header {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--color-primary-1);
  display: flex;
  justify-content: center;
}

/* Button */
.home__buttons {
  display: flex;
}

.btn-default {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-5);
  border-radius: 12px;
  border: 2px solid var(--color-primary-5);
  padding: 8px 15px;
  font-weight: 600;
  box-shadow: var(--color-neutral-1);
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 0.8rem;
  min-width: 70px;
  color: var(--color-neutral-1);
}

.btn-default:hover {
  background-color: var(--color-primary-3);
  transform: scale(1.04);
}

.btn-second {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 12px;
  border: 2px solid var(--color-primary-6);
  padding: 8px 15px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px var(--color-primary-3);
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 0.8rem;
  min-width: 70px;
  color: var(--color-primary-6);
  text-decoration: none;
}

.btn-second:hover {
  background-color: var(--color-primary-3);
  transform: scale(1.04);
}

.experience__section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 10px;
  scroll-margin-top: 5.5vh;
}

footer {
  background-color: var(--color-primary-2);
}

.footer__items {
  display: flex;
  justify-content: space-between;
  padding: 0px 8% 24px 8%;
  align-items: center;
  background-color: var(--color-primary-2);
}

.copyright {
  color: var(--color-neutral-1);
  font-weight: 500;
  font-size: 0.8rem;
}

.social__media__content {
  display: flex;
  width: 100px;
  justify-content: space-evenly;
}

.social__media__buttons {
  height: 30px;
  width: 30px;
  border-radius: 20%;
}

.social__media__buttons a {
  text-decoration: none;
  color: var(--color-primary-6);
}
.home {
  display: flex;
  height: 95vh;
  width: 100%;
  justify-content: center;
}

.home__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  max-width: 1300px;
  padding: 0 20px;
  margin-bottom: 20px;
  height: 95vh;
}

/* infinite horizon */
.scroller__div {
  width: 100%;
  margin-inline: auto;
  margin: 20px 0;
  position: relative;
  height: 35px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.item {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  position: absolute;
  left: max(calc(10px * 6), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: var(--color-primary-6);
}

.item1 {
  animation-delay: calc(30s / 6 * (6 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 6 * (6 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 6 * (6 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 6 * (6 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 6 * (6 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 6 * (6 - 6) * -1);
}

.item__icon {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1170px) {
  .experience__section {
    text-align: center;
  }
}

@media screen and (max-width: 950px) {
  .home__content {
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    height: 90vh;
  }
}

@media screen and (max-width: 600px) {
  .nav__list {
    display: none;
  }

  .home__content {
    height: 80vh;
    margin: 0;
    padding: 0 5px 0 10px;
  }

  .experience__section {
    margin-top: 150px;
  }
  .footer__items {
    flex-direction: column;
    gap: 20px;
  }
}
