@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary-1: #fff9ea;
  --color-primary-2: #ffe8b4;
  --color-primary-3: #f8d477;
  --color-primary-4: #ffe100;
  --color-primary-5: #ffcb45;
  --color-primary-6: #e9a209;

  --color-neutral-0: #fff;
  --color-neutral-1: #1d1d1d;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary-1);
}

/* Nav */
header {
  width: 100%;
  padding: 10px 15px;
  position: sticky;
  top: 0;
  background-color: var(--color-primary-1);
  z-index: 3;
}

.navbar {
  display: flex;
  height: 5vh;
  width: 100%;
  justify-content: center;
}

.navbar__content {
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__content div {
  width: 5%;
}

.navbar__content h2 {
  color: var(--color-primary-6);
  transition: 0.3s;
  cursor: default;
  font-size: 0.9rem;
}

.navbar__content h2:hover {
  color: var(--color-primary-5);
  font-size: 1rem;
}

.nav_logo {
  font-size: 24px;
  color: var(--color-primary-6);
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 50px;
}

.nav-item a {
  text-decoration: none;
  position: relative;
  color: var(--color-neutral-1);
  font-weight: 600;
  transition: 0.3s;
  font-size: 0.8rem;
}

.nav-item a:after {
  content: "";
  position: absolute;
  background-color: var(--color-primary-4);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.nav-item a:hover:after {
  width: 100%;
}

.nav-item a:hover {
  color: #111010;
  font-size: 0.9rem;
}

/* Button */
.home__buttons {
  display: flex;
}

.btn-default {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-5);
  border-radius: 12px;
  border: 2px solid var(--color-primary-5);
  padding: 8px 15px;
  font-weight: 600;
  box-shadow: var(--color-neutral-1);
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 0.8rem;
  min-width: 70px;
  color: var(--color-neutral-1);
}

.btn-default:hover {
  background-color: var(--color-primary-3);
  transform: scale(1.04);
}

.btn-second {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 12px;
  border: 2px solid var(--color-primary-6);
  padding: 8px 15px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px var(--color-primary-3);
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 0.8rem;
  min-width: 70px;
  color: var(--color-primary-6);
  text-decoration: none;
}

.btn-second:hover {
  background-color: var(--color-primary-3);
  transform: scale(1.04);
}

.section-title {
  color: var(--color-primary-6);
  font-size: 1.5rem;
}

.section-subtitle {
  font-size: 2rem;
}

.section-subtitle span {
  font-size: 1.5rem;
}

footer {
  background-color: var(--color-primary-2);
}

.footer__items {
  display: flex;
  justify-content: space-between;
  padding: 0px 8% 24px 8%;
  align-items: center;
  background-color: var(--color-primary-2);
}

.copyright {
  color: var(--color-neutral-1);
  font-weight: 500;
  font-size: 0.8rem;
}

.social__media__content {
  display: flex;
  width: 100px;
  justify-content: space-evenly;
}

.social__media__buttons {
  height: 30px;
  width: 30px;
  border-radius: 20%;
}

.social__media__buttons a {
  text-decoration: none;
  color: var(--color-primary-6);
}
.home {
  display: flex;
  height: 95vh;
  width: 100%;
  justify-content: center;
}

.home__content {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 20px;
  max-width: 1300px;
  padding: 0 20px;
  margin-bottom: 20px;
  height: 95vh;
}

.home__title {
  width: 36%;
  max-width: 550px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  justify-content: center;
}

.home__title .title {
  font-size: 2rem;
  color: var(--color-neutral-1);
}

.home__title h3 {
  font-size: 1.5rem;
}

.home__title .description {
  font-size: 1.1rem;
  text-align: left;
  font-weight: 400;
}

.text__animation span {
  position: relative;
}

.text__animation span::before {
  content: "Desenvolvedor";
  color: var(--color-primary-6);
  animation: words 20s infinite;
}

.text__animation span::after {
  content: "";
  background-color: var(--color-primary-1);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--color-primary-1);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--color-primary-6);
  }
}

@keyframes words {
  0%,
  20% {
    content: "Desenvolvedor Back-end";
  }
  21%,
  40% {
    content: "Analista de Sistemas";
  }
  41%,
  60% {
    content: "Desenvolvedor FullStack";
  }
  61%,
  80% {
    content: "Desenvolvedor Back-end";
  }
  81%,
  100% {
    content: "Analista de Sistemas";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.banner {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  z-index: 2;
}

.img__container {
  width: 300px;
  height: 300px;
  border-radius: 55% 45% 55% 45%;
  overflow: hidden;
  animation: imgFloat 7s ease-in-out infinite;
}

.img__container img {
  width: 320px;
  height: 320px;
  object-fit: cover;
}

@keyframes imgFloat {
  50% {
    transform: translateY(10px);
    border-radius: 45% 55% 45% 55%;
  }
}

.portfolio__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
  margin-bottom: 100px;
  scroll-margin-top: 15vh;
}

.experience__section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 10px;
  scroll-margin-top: 5.5vh;
}

.experience__content {
  max-width: 700px;
  margin-bottom: 100px;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.experience__card {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--color-neutral-0);
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.experience__avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}

.about__content p {
  display: flex;
  justify-content: space-between;
}

.card__web {
  display: flex;
  justify-content: center;
}

/* infinite horizon */
.scroller__div {
  width: 100%;
  margin-inline: auto;
  margin: 20px 0;
  position: relative;
  height: 35px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.item {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  position: absolute;
  left: max(calc(10px * 6), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: var(--color-primary-6);
}

.item1 {
  animation-delay: calc(30s / 6 * (6 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 6 * (6 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 6 * (6 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 6 * (6 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 6 * (6 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 6 * (6 - 6) * -1);
}

.item__icon {
  height: 100%;
  width: 100%;
}
/* card */
.card__area,
.box__area {
  width: 100%;
  padding: 10px 15px;
}

.box__area {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: start;
  flex-wrap: wrap;
}

.box {
  height: 220px;
  width: 180px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 10px var(--color-primary-6);
  transition: 0.5s;
}

.box img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.overlay {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, var(--color-primary-2) 65%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
  text-align: center;
  font-size: 0.7rem;
  transition: height 0.3s;
  color: #292828;
}

.overlay h3 {
  font-weight: 500px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  color: var(--color-neutral-1);
}

.box:hover {
  transform: scale(1.05);
}

.box:hover img {
  transform: scale(1.1);
}

.box:hover .overlay {
  height: 100%;
}

/* Keyframes */

.autoBlur {
  animation: autoBlurAnimation linear both;
  animation-timeline: view();
}

@keyframes autoBlurAnimation {
  0% {
    filter: blur(15px);
  }
  35%,
  55% {
    filter: blur(0px);
  }
  100% {
    filter: blur(15px);
  }
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@media screen and (max-width: 1170px) {
  .home__title .title {
    font-size: 1.5rem;
  }

  .home__title .description {
    font-size: 0.8rem;
  }

  .home__title h3 {
    font-size: 1rem;
  }

  .experience__section .section-subtitle {
    text-align: center;
  }

  .img__container {
    width: 250px;
    height: 250px;
  }

  .experience__content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 950px) {
  .banner {
    display: none;
  }

  .home__content {
    justify-content: center;
    padding: 15px;
  }

  .home__title {
    width: 100%;
  }

  .home__title .title {
    font-size: 2rem;
  }

  .home__title h3 {
    font-size: 1.5rem;
  }

  .home__title .description {
    font-size: 1.1rem;
  }

  .rightSlide {
    animation: rightSlideAnimation;
    animation-duration: 0.4s;
    animation-timeline: view(130% 3%);
  }
}

@media screen and (max-width: 600px) {
  .nav__list {
    display: none;
  }

  .home__content {
    height: 80vh;
    margin: 0;
  }

  .home__title {
    padding: 0 10px;
  }

  .home__title .title {
    font-size: 1.5rem;
  }

  .home__title .description {
    font-size: 0.8rem;
  }

  .home__title h3 {
    font-size: 1rem;
  }

  .portfolio__section .section-subtitle {
    text-align: center;
  }

  .experience__section {
    margin-top: 150px;
  }

  .experience__card,
  .about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    font-size: 0.8rem;
  }

  .rightSlide {
    animation: rightSlideAnimation;
    animation-duration: 0.4s;
    animation-timeline: view(160% 5%);
  }

  .autoShow {
    animation: autoShowAnimation;
    animation-timeline: view(160% 6%);
  }

  .footer__items {
    flex-direction: column;
    gap: 20px;
  }
}
